<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/assets/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/src/tailwind.css" />
    <title>News ABC24</title>
  </head>
  <body class="antialiased bg-gray-200">
    <%= require('html-loader!./components/nav.html') %>
    <section id="info" class="w-screen bg-gray-400 text-gray-600 p-8 mb-16">
      <div class="max-w-6xl mx-auto">
        Sito di news libero e gratis, guadagnare online con il sistema adsense
        share, sito web dove puoi segnalare notizie, articoli e siti internet
        con il link diretto al Tuo sito o blog senza la funzione (no follow)
        quindi Adsense Sharing + link popularity ISCRIVITI SUBITO! Il nuovo blog
        dedicato ai casino online Trova tutte le novità e le notizie sui casino
        online. I giochi casino più belli, le strategie vincenti e i bonus
        migliori. Dedicato ai casino online in Italia, in Europa e nel mondo.
        <div
          id="mini-sponsored"
          class="hidden md:flex items-center justify-around pt-4 w-full"
        >
          <div
            style="height: 15px; width:728px; background-color: black; color: cadetblue; font-size: 8px; "
          >
            advertisement
          </div>
        </div>
      </div>
    </section>

    <main class="w-full">
      <div class="max-w-6xl mx-auto flex flex-wrap items-start justify-start">
        <section id="latest-news-1" class="w-full px-4 lg:w-2/3 mb-2 order-1">
          <h2 class="text-3xl w-full border-b-2 border-orange-500">
            Latest <span class="text-orange-500">News</span>
          </h2>

          <!-- selector menu -->
          <ul class="w-full flex items-center justify-end">
            <li class="p-2">
              <a
                class="text-sm text-gray-700 flex-1 block border-b-4 border-transparent hover:border-orange-500 border-orange-500"
                href="#category"
                >Più recenti
              </a>
            </li>
            <li class="p-2">
              <a
                class="text-sm text-gray-700 flex-1 block border-b-4 border-transparent hover:border-orange-500"
                href="#category"
                >Top in 24h
              </a>
            </li>
            <li class="p-2">
              <a
                class="text-sm text-gray-700 flex-1 block border-b-4 border-transparent hover:border-orange-500"
                href="#category"
                >7 giorni
              </a>
            </li>
            <li class="p-2">
              <a
                class="text-sm text-gray-700 flex-1 block border-b-4 border-transparent hover:border-orange-500"
                href="#category"
                >30 giorni
              </a>
            </li>
            <li class="p-2">
              <a
                class="text-sm text-gray-700 flex-1 block border-b-4 border-transparent hover:border-orange-500"
                href="#category"
                >365 giorni
              </a>
            </li>
          </ul>

          <!-- Ad area -->
          <div class="flex lg:w-full items-center justify-around my-4">
            <div
              placeholder
              for
              ad
              style="width: 728px; height: 90px; background-color: black; color: cadetblue; padding: 5px; "
              class="hidden lg:block"
            >
              advertisement
            </div>
            <div
              placeholder
              for
              ad
              style="width: 336px; height: 280px; background-color: black; color: cadetblue; padding: 5px; "
              class="block lg:hidden"
            >
              advertisement
            </div>
          </div>

          <%= require('html-loader!./components/card.html') %> <%=
          require('html-loader!./components/loginForm.html') %> <%=
          require('html-loader!./components/addNewsForm.html') %>
        </section>
        <aside class="w-full px-4 lg:w-1/3 mb-2 order-2 ">
          <!-- ads 1 -->
          <div id="ads" class="bg-gray-400 flex flex-wrap w-auto w-mr-4">
            <div class="p-4">
              <a
                href="www.slotmachineaamsonline.com"
                class="text-blue-700 text-xs capitalize"
              >
                <img
                  src="http://news.abc24.it/images/160x20_slot_machine_aams_online.jpg"
                  alt="ad"
                />slot machine aams online</a
              >
            </div>
            <div class="p-4">
              <a
                href="www.slotmachineaamsonline.com"
                class="text-blue-700 text-xs capitalize"
              >
                <img
                  src="http://news.abc24.it/images/160x20_slot_machine_aams_online.jpg"
                  alt="ad"
                />slot machine aams online</a
              >
            </div>
            <div class="p-4">
              <a
                href="www.slotmachineaamsonline.com"
                class="text-blue-700 text-xs capitalize"
              >
                <img
                  src="http://news.abc24.it/images/160x20_slot_machine_aams_online.jpg"
                  alt="ad"
                />slot machine aams online</a
              >
            </div>
            <div class="p-4">
              <a
                href="www.slotmachineaamsonline.com"
                class="text-blue-700 text-xs capitalize"
              >
                <img
                  src="http://news.abc24.it/images/160x20_slot_machine_aams_online.jpg"
                  alt="ad"
                />slot machine aams online</a
              >
            </div>
          </div>
          <!-- social media -->
          <div id="social media" class="my-2">
            <h2 class="text-3xl w-full border-b-2 border-orange-500">
              Social <span class="text-orange-500">media</span>
            </h2>
            <iframe
              src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmarketingnews24&amp;width=293&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=362"
              scrolling="no"
              frameborder="0"
              style="border:none; overflow:hidden; height:362px;"
              allowtransparency="true"
              class="w-full"
            ></iframe>
          </div>
          <!-- tags -->
          <div class="my-2">
            <h2 class="text-3xl w-full border-b-2 border-orange-500">
              Tag più <span class="text-orange-500">popolari</span>
            </h2>
            <div class="flex flex-row flex-wrap items-baseline">
              <a
                href=""
                class="mx-2 text-xs focus:text-orange-500 hover:text-orange-500"
                >antonio di pietro</a
              >
              <a
                href=""
                class="mx-2 text-xs focus:text-orange-500 hover:text-orange-500"
                >bambini</a
              ><a
                href=""
                class="mx-2 text-sm focus:text-orange-500 hover:text-orange-500"
                >calcio</a
              ><a
                href=""
                class="mx-2 text-lg focus:text-orange-500 hover:text-orange-500"
                >volantino</a
              ><a
                href=""
                class="mx-2 text-xs focus:text-orange-500 hover:text-orange-500"
                >italian</a
              ><a
                href=""
                class="mx-2 text-md focus:text-orange-500 hover:text-orange-500"
                >is</a
              ><a
                href=""
                class="mx-2 text-2xl focus:text-orange-500 hover:text-orange-500"
                >funny</a
              ><a
                href=""
                class="mx-2 text-xs focus:text-orange-500 hover:text-orange-500"
                >sportello</a
              ><a
                href=""
                class="mx-2 text-xs focus:text-orange-500 hover:text-orange-500"
                >lol</a
              >
            </div>
          </div>
          <!-- ads 2 -->
          <div class="bg-gray-400 my-2">
            <div
              style="width: 336px; height: 280px; background-color: black; color: cadetblue; padding: 5px; "
            >
              advertisement
            </div>
          </div>
        </aside>
      </div>
    </main>
    <script>
      const userMenuItems = [
        {
          id: 'um0',
          text: 'Ultime Notitie',
          link: 'http://news.abc24.it/',
        },
        {
          id: 'um1',
          text: 'Guadagna con noi',
          link: 'http://news.abc24.it/guadagnaonline-adsense-sharing.html',
        },
        {
          id: 'um2',
          text: 'Inserisci Notitia',
          link: 'http://news.abc24.it/inserisci/notizia.html',
          path: 'notizia.html',
        },
        {
          id: 'um3',
          text: 'Login',
          link: 'http://news.abc24.it/login-form',
          path: 'login-form',
        },
      ]
      const menuItems = [
        {
          id: '0',
          text: 'Home',
          link: '/',
          path: '',
          open: false,
          submenuItems: [
            {
              id: '1s1',
              text: 'Guadagna con noi',
              link: '/guadagnaonline-adsense-sharing',
              path: 'guadagnaonline-adsense-sharing',
            },
            {
              id: '1s2',
              text: 'Inserisci Notitia',
              link: '/inserisci/notizia',
              path: 'notizia',
            },
            {
              id: '1s3',
              text: 'Registrati',
              link: '/register',
              path: 'register',
            },
            {
              id: '1s4',
              text: 'Login',
              link: '/login',
              path: 'login',
            },
          ],
        },
        {
          id: '2',
          text: 'Attualità',
          link: '/notizie/attualita',
          path: 'attualita',
          open: false,
          submenuItems: [
            {
              id: '12',
              text: 'Estero',
              link: '/notizie/attualita-estero',
              path: 'attualita-estero',
            },
            {
              id: '11',
              text: 'Italia',
              link: '/notizie/attualita-italia',
              path: 'attualita-italia',
            },
          ],
        },
        {
          id: '3',
          text: 'Cultura e Società',
          link: '/notizie/cultura-e-societa',
          path: 'cultura-e-societa',
          open: false,
          submenuItems: [
            {
              id: '48',
              text: 'Gossip',
              link: '/notizie/gossip',
              path: 'gossip',
            },
            {
              id: '13',
              text: 'Letteratura',
              link: '/notizie/letteratura',
              path: 'letteratura',
            },
            {
              id: '1',
              text: 'Religione',
              link: '/notizie/religione',
              path: 'religione',
            },
            {
              id: '14',
              text: 'Scuola',
              link: '/notizie/scuola',
              path: 'scuola',
            },
            {
              id: '15',
              text: 'Social Network',
              link: '/notizie/social-network',
              path: 'social-network',
            },
          ],
        },
        {
          id: '4',
          text: 'Economia',
          link: '/notizie/economia-lavoro',
          path: 'economia-lavoro',
          open: false,
          submenuItems: [
            {
              id: '17',
              text: 'Economia',
              link: '/notizie/economia',
              path: 'economia',
            },
            {
              id: '18',
              text: 'Finanza',
              link: '/notizie/finanza',
              path: 'finanza',
            },
            {
              id: '20',
              text: 'Finanziamenti e Prestiti',
              link: '/notizie/finanziamenti-prestiti',
              path: 'finanziamenti-prestiti',
            },
            {
              id: '19',
              text: 'Lavoro',
              link: '/notizie/lavoro',
              path: 'lavoro',
            },
          ],
        },
        {
          id: '5',
          text: 'Intrattenimento',
          link: '/notizie/intrattenimento',
          path: 'intrattenimento',
          open: false,
          submenuItems: [
            {
              id: '22',
              text: 'Cinema',
              link: '/notizie/cinema',
              path: 'cinema',
            },
            {
              id: '24',
              text: 'Fumetti e Cartoni Animati',
              link: '/notizie/fumetti-e-cartoni-animati',
              path: 'fumetti-e-cartoni-animati',
            },
            {
              id: '25',
              text: 'Giochi',
              link: '/notizie/giochi',
              path: 'giochi',
            },
            {
              id: '53',
              text: 'Musica',
              link: '/notizie/musica',
              path: 'musica',
            },
            {
              id: '23',
              text: 'Radio TV',
              link: '/notizie/radio-tv',
              path: 'radio-tv',
            },
            {
              id: '26',
              text: 'Videogame',
              link: '/notizie/videogame',
              path: 'videogame',
            },
          ],
        },
        {
          id: '6',
          text: 'Medicina e Salute',
          link: '/notizie/medicina-e-salute',
          path: 'medicina-e-salute',
          open: false,
          submenuItems: [
            {
              id: '28',
              text: 'Alimentazione',
              link: '/notizie/alimentazione',
              path: 'alimentazione',
            },
            {
              id: '29',
              text: 'Medicina',
              link: '/notizie/medicina',
              path: 'medicina',
            },
            {
              id: '30',
              text: 'Salute e Benessere',
              link: '/notizie/salute-e-benessere',
              path: 'salute-e-benessere',
            },
          ],
        },
        {
          id: '7',
          text: 'Scienza',
          link: '/notizie/scienza-e-tecnologia',
          path: 'scienza-e-tecnologia',
          open: false,
          submenuItems: [
            {
              id: '36',
              text: 'Animali e Natura',
              link: '/notizie/animali-e-natura',
              path: 'animali-e-natura',
            },
            {
              id: '35',
              text: 'Cellulari e Telefonia',
              link: '/notizie/cellulari-e-telefonia',
              path: 'cellulari-e-telefonia',
            },
            {
              id: '33',
              text: 'Informatica',
              link: '/notizie/informatica',
              path: 'informatica',
            },
            {
              id: '34',
              text: 'Internet',
              link: '/notizie/internet',
              path: 'internet',
            },
            {
              id: '32',
              text: 'Tecnologia',
              link: '/notizie/tecnologia',
              path: 'tecnologia',
            },
          ],
        },
        {
          id: '8',
          text: 'Servizi',
          link: '/notizie/servizi',
          path: 'servizi',
          open: false,
          submenuItems: [
            {
              id: '50',
              text: 'Biglietti eventi',
              link: '/notizie/biglietti-eventi',
              path: 'biglietti-eventi',
            },
            {
              id: '49',
              text: 'Pubblica amministrazione',
              link: '/notizie/pubblica-amministrazione',
              path: 'pubblica-amministrazione',
            },
            {
              id: '51',
              text: 'Utilità',
              link: '/notizie/utilita',
              path: 'utilita',
            },
          ],
        },
        {
          id: '9',
          text: 'Sport',
          link: '/notizie/sport',
          path: 'sport',
          open: false,
          submenuItems: [
            {
              id: '41',
              text: 'Atletica',
              link: '/notizie/atletica',
              path: 'atletica',
            },
            {
              id: '38',
              text: 'Calcio',
              link: '/notizie/calcio',
              path: 'calcio',
            },
            {
              id: '55',
              text: 'Ciclismo',
              link: '/notizie/ciclismo',
              path: 'ciclismo',
            },
            {
              id: '39',
              text: 'Formula 1',
              link: '/notizie/formula-1',
              path: 'formula-1',
            },
            {
              id: '40',
              text: 'Moto GP',
              link: '/notizie/moto-gp',
              path: 'moto-gp',
            },
            {
              id: '54',
              text: 'Nuoto',
              link: '/notizie/nuoto',
              path: 'nuoto',
            },
            {
              id: '42',
              text: 'Pallacanestro',
              link: '/notizie/pallacanestro',
              path: 'pallacanestro',
            },
            {
              id: '43',
              text: 'Pallavolo',
              link: '/notizie/pallavolo',
              path: 'pallavolo',
            },
            {
              id: '56',
              text: 'Pesca',
              link: '/notizie/pesca',
              path: 'pesca',
            },
            {
              id: '57',
              text: 'Tennis',
              link: '/notizie/tennis',
              path: 'tennis',
            },
          ],
        },
        {
          id: '10',
          text: 'Turismo',
          link: '/notizie/turismo',
          path: 'turismo',
          open: false,
          submenuItems: [
            {
              id: '45',
              text: 'Agriturismi',
              link: '/notizie/agriturismi',
              path: 'agriturismi',
            },
            {
              id: '47',
              text: 'Diari di Viaggio',
              link: '/notizie/diari-di-viaggio',
              path: 'diari-di-viaggio',
            },
            {
              id: '59',
              text: 'Eventi',
              link: '/notizie/eventi',
              path: 'eventi',
            },
            {
              id: '46',
              text: 'Hotel',
              link: '/notizie/hotel',
              path: 'hotel',
            },
          ],
        },
      ]

      function findMenu(path) {
        let menu = ''
        for (menuItem of menuItems) {
          if (path === menuItem.path) {
            menu = path
            if (menu !== '') break
          } else {
            for (submenuItem of menuItem.submenuItems) {
              if (path === submenuItem.path) {
                menu = menuItem.path
                if (menu !== '') break
              }
            }
          }
        }
        return menu
      }
    </script>
  </body>
</html>
